<!DOCTYPE html>
<html>
    <head>
        <title>Panel de Administracion</title>
        <%= csrf_meta_tags %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        <%= favicon_link_tag asset_path('favicon.png') %>


    </head>
    <body class="bg-clouds">
        <nav class="dashboard-menu pd-container bg-white">
            <ul class="user col-20 pd-item-flex justify-between">
                <li class="col-3 xl-padding-gb-gb">
                    <a href="/">
                        <%= image_tag "logo-dark.png", class: "full-image"%>
                    </a>
                </li>
                <li class="lg-margin-gb-gb">
                    <a href="/cerrar" class="md-padding-gb-gb fc-text">Cerrar Sesion</a>
                </li>
            </ul>
            <ul class="links col-20 pd-item-flex padding-main-topbar">
                <div class="links col-10 pd-item-flex justify-left">
                    <li>
                        <a href="<%= dashboard_publications_path  %>" class="xl-padding-gb-gb fc-text">Publicaciones</a>
                    </li>
                    <li>
                        <a href="<%= dashboard_comments_path  %>" class="xl-padding-gb-gb fc-text">Comentarios</a>
                    </li>
                    <li>
                        <a href="<%= dashboard_categories_path  %>" class="xl-padding-gb-gb fc-text">Categorias</a>
                    </li>
                    <li>
                        <a href="" class="xl-padding-gb-gb fc-text">Usuarios</a>
                    </li>
                </div>
                <div class="profile col-10 pd-item-flex justify-left">

                </div>
            </ul>
        </nav>
        <main id="container-dashboard
        " >
        <%= yield %>
        </main>
    </body>

    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script>
        var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
    </script>
</html>
