<section id="edit-category" class="p-form">
	<article class="p-container">
		<h1>Nueva Categoria</h1>
		<%= form_for @category, url: dashboard_category_path(id: @category.id) do |f| %>
		  <% if @category.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

		      <ul>
		      <% @category.errors.full_messages.each do |message| %>
		        <li><%= message %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>

		  <div class="p-field">
		    <%= f.label :name, "NOMBRE DE LA CATEGORIA" %>
		    <%= f.text_field :name %>
		  </div>

		  <div class="p-field">
		    <%= f.label :description, "DESCRIPCION" %>
		    <%= f.text_field :description %>
		  </div>

		  <%= f.submit "GUARDAR", class: "p-save" %>
		<% end %>
	</article>
</section>
	